<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAINING API</title>
</head>
<body>
    <h2>TRAINING API</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, fugiat sint! Impedit vel laboriosam deleniti sed modi, voluptas porro voluptate fuga vitae sint nulla quo ducimus placeat tempore, nisi nobis!</p>
</body>
</html>